  *{
    margin: 0;
    padding: 0;
  }
  .nav{
    background: #1E252B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.nav-ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 431px;
height: 24px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  
  color: #FFFFFF8C;
  
}
.container{
  
}
.nav-ul-li{
  list-style: none;
}
.nav-buttons{
  display: flex;
  align-items: center;
  margin: 41;
border-radius: 8px;

}
.nav-buttons-1{
  margin-right: 41px;
background: transparent;
color: rgba(255, 255, 255, 0.78);
border: 1px solid transparent;
}
.nav-buttons-2{
  background: #ff6e30;
  padding: 12px 28px;
}